<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学生成绩管理</title>
    <meta name="description" content="学生成绩管理">
    <meta name="keywords" content="学生成绩管理">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">


</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>教师模块
            <small>批改作业</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>教师模块</el-breadcrumb-item>
            <el-breadcrumb-item>批改作业</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <el-tabs v-model="activeName" @tab-click="handleClick" type="border-card">
                <el-tab-pane label="未批改" name="first">
                    <h2>未批改</h2>
                    <el-button @click="clearFilter">清除所有过滤器</el-button>
                    <el-table
                            ref="filterTable"
                            :data="dataList"
                            style="width: 100%">
                        <el-table-column
                                prop="course.course_code"
                                label="课程编号"
                                width="180"
                                column-key="course_code"
                                :filters="courses"
                                :filter-method="filterCourse"
                                filter-placement="bottom-end">
                        </el-table-column>
                        <el-table-column
                                prop="course.course_name"
                                label="课程名"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="student.stu_code"
                                label="学号"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="student.stu_code"
                                label="学号"
                                width="180"
                                :filters="students"
                                :filter-method="filterStu"
                                filter-placement="bottom-end">
                        </el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">批改</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                                class="pagiantion"
                                @current-change="handleCurrentChange"
                                :current-page="pagination.currentPage"
                                :page-size="pagination.pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="pagination.total">
                        </el-pagination>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="已批改" name="second">
                    <h2>已批改</h2>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="course.course_name" label="课程名" align="center"></el-table-column>
                        <el-table-column prop="course.course_code" label="课程编号" align="center"></el-table-column>
                        <el-table-column prop="student.stu_code" label="学号" align="center"></el-table-column>
                        <el-table-column prop="student.stu_name" label="姓名" align="center"></el-table-column>
                        <el-table-column prop="task.task_code" label="作业编号" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">修改分数</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                                class="pagiantion"
                                @current-change="handleCurrentChange"
                                :current-page="pagination.currentPage"
                                :page-size="pagination.pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="pagination.total">
                        </el-pagination>
                    </div>
                </el-tab-pane>
            </el-tabs>
                <!-- 编辑标签弹层 -->
                <div class="add-form">
                    <el-dialog title="批改作业" :visible.sync="dialogFormVisible4Edit">
                        <el-form ref="dataEditForm" :model="formData" label-position="right"
                                 label-width="100px">
                            <el-row style="height: 100px">
                                <el-col :span="8">
                                    <span>答案:</span>
                                </el-col>
                                <el-col :span="16">
                                    <img style="width: 200px; height: 200px" :src="imageUrl"/>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-form-item label="得分">
                                    <el-input v-model="formData.stuTask_grade"></el-input>
                                </el-form-item>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                            <el-button type="primary" @click="handleEdit()">确定</el-button>
                        </div>
                    </el-dialog>
                </div>
        </div>

    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data() {
            return {
                pagination: {//分页相关模型数据
                    currentPage: 1,//当前页码
                    pageSize: 7,//每页显示的记录数
                    total: 0,//总记录数
                    queryString: null//查询条件
                },
                dataList: [],
                courses: [],
                students: [],
                imageUrl: '',
                formData: {},
                dialogFormVisible4Edit: false,
                stu_id: '',
                task_id: '',
                activeName: "first",

            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();

        },
        methods: {
            //分页查询
            findPage() {
                // 查询分页结果数据
                // 初始化页面
                var params = {
                    "currentPage": this.pagination.currentPage,
                    "pageSize": this.pagination.pageSize,
                    "queryString": this.pagination.queryString
                };
                axios.post("/stuTask/findPage3", params).then((response) => {
                    // 将响应的结果给页面数据
                    // 总记录数
                    this.pagination.total = response.data.total;
                    // 封装结果集
                    this.dataList = response.data.rows;
                })
            },
            //分页查询
            findPage1() {
                // 查询分页结果数据
                // 初始化页面
                var params = {
                    "currentPage": this.pagination.currentPage,
                    "pageSize": this.pagination.pageSize,
                    "queryString": this.pagination.queryString
                };
                axios.post("/stuTask/findPage4", params).then((response) => {
                    // 将响应的结果给页面数据
                    // 总记录数
                    this.pagination.total = response.data.total;
                    // 封装结果集
                    this.dataList = response.data.rows;
                })
            },
            // 重置表单
            resetForm() {
                this.formData = {};
            },
            //弹出批改窗口
            handleUpdate(row) {
                //alert(row.stuTask_answer);
                // 显示编辑窗口
                this.stu_id = row.stu_id;
                this.task_id = row.task_id;
                this.imageUrl = "../uploads/answer/" + row.student.stu_code + "_" + row.task.task_code + "_answer.jpg";
                this.dialogFormVisible4Edit = true;
                //数据回显
                axios.get("../stuTask/findByAnswer?stuTask_answer="+row.stuTask_answer,).then(res=>{
                   if (res.data.flag) {
                       this.$message({type:"success",message:res.data.message});
                       this.formData=res.data.data;
                   }
                });
            },
            //提交分数
            handleEdit() {
                this.formData.stu_id = this.stu_id;
                this.formData.task_id = this.task_id;
                axios.post("../stuTask/edit", this.formData).then(res => {
                    //关闭窗口
                    this.dialogFormVisible4Edit = false;
                    if (res.data.flag) {
                        this.$message({
                            type: "success",
                            message: res.data.message
                        })
                    } else {
                        this.$message({
                            type: "warning",
                            message: res.data.message
                        })
                    }
                })
            },
            clearFilter() {
                this.$refs.filterTable.clearFilter();
            },
            filterStu(value, row) {
                return row.stu_code === value;
            },
            filterCourse(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            },
            //切换页码
            handleCurrentChange(currentPage) {
                //alert(currentPage);
                // 当前页赋值
                this.pagination.currentPage = currentPage;
                // 条件置空
                this.pagination.queryString = "";
                // 查询
                this.findPage();
            },
            //切换页码
            handleCurrentChange1(currentPage) {
                //alert(currentPage);
                // 当前页赋值
                this.pagination.currentPage = currentPage;
                // 查询
                this.findPage();
            },
            handleClick(tab, event) {
                if (tab.name==="first"){
                    this.findPage();
                } else if(tab.name==="second"){
                    this.findPage1();
                }
                console.log(tab, event);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            }
        }


    });
</script>
</html>